*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background:#222;
}
.card{
    width:90%;
    max-width: 400px;
    background-color: rgb(2, 150, 160);
    color:black;
    margin:90px auto 0;
    border-radius: 20px;
    text-align: center;
    
}
.search{
    width:100%;
    display:flex;
    align-items:center ;
    justify-content: space-between;
    padding:20px 23px 20px;
}
.search input{
    border:0;
    outline: 0;
    background:#ebfffc;
    color: #555;
    padding: 20px  25px;
    height: 50px;
    border-radius:15px;
    flex: 1;
    margin-right:5px;
    font-size: 15px;
}
.search button{
    border:0;
    outline: 0;
    background:#ebfffc;
    border-radius: 15px;
    width:50px;height:50px;
    cursor:pointer;
    

}
.search button img{
    width:16px;
    
}
.weather img{
    padding:0px 0px 20px;
}
.weather-icon{
    width:120px;
    height:120px;
    margin-top: 30px;
}
.weather h2{
    font-size: 30px;
    font-weight: 100;
}
.weather h3{
    font-size: 35px;
    font-weight: 400;
    margin-top:-10;
    padding-bottom: 30px;
}
.details{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0 20px;
    margin-top: 0px;
    /* margin-bottom:20px ; */
}
.col{
    display:flex;
    align-items: center;
    text-align: left;
}
.col img{
    height:60px;
    margin-right:10px;
    /* margin-left:30px; */
    margin-bottom: 20px; 
    margin-top: 10px; 
    
}
.humidity, .wind{
    font-size:20px ;
    margin-top:-6px;
}
.weather{
    display:none;
}
.error{
    display: none;
    text-align: left;
    margin-left: 30px;
    padding-bottom:20px ;
    font-size: 14px;
    
}